body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #2d3e50;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.contact {
  font-size: 18px;
  padding: 10px;
  background-color: #f0f8ff;
  border-radius: 8px;
  margin-top: 20px;
}

.contact span {
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Големина на текстот за помали екрани */
    }

    p {
        font-size: 1em;
        padding: 10px;
    }

    nav a {
        font-size: 1em; /* Помала големина на текстот за навигацијата */
    }
}
